.form {
  display: flex;
  flex-direction: column;
}
.delay {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.input-delay {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}

.input-delay:hover {
  border: 1px solid #000;
}

.input-delay:-moz-suppressed {
  border: 1px solid #4e75ff;
}
.state {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.name-label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;
}
.input-state {
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
}

.input-state:hover {
  stroke: #000;
}

.input-state:-moz-suppressed {
  stroke: #000;
}

.btn-create {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;
}
